In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
#importing the dataset
df= pd.read_csv('/content/cricstats.csv')

In [53]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,HC Brook (ENG),2022-2024,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
61,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,NaN
62,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
63,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,NaN

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  64 non-null     object
 1   Span    64 non-null     object
 2   Mat     64 non-null     int64
 3   Inns    64 non-null     int64
 4   NO      64 non-null     int64
 5   Runs    64 non-null     int64
 6   HS      64 non-null     object
 7   Ave     64 non-null     float64
 8   BF      61 non-null     object
 9   SR      61 non-null     float64
 10  100     64 non-null     int64
 11  50      64 non-null     int64
 12  0       64 non-null     int64
 13  4s      64 non-null     object
 14  6s      62 non-null     object
dtypes: float64(2), int64(7), object(6)
memory usage: 7.6+ KB

In [5]:
df.shape

(64, 15)

In [60]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

renamed the columns to draw out insights

In [61]:
df=df.rename(columns={'Mat':'Matches','NO':'Not_out','HS':'Highest_score','BF':'Balls_faced','SR':'Strike_rate'})

In [62]:
df.head()

,Player,Span,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,HC Brook (ENG),2022-2024,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11

In [57]:
#check null values
df.isnull().any()

Player           False
Span             False
Matches          False
Inns             False
Not_out          False
Runs             False
Highest_score    False
Ave              False
Balls_faced       True
Strike_rate       True
100              False
50               False
0                False
4s               False
6s                True
dtype: bool

In [58]:
df[df['Balls_faced'].isna()==1]

,Player,Span,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11
56,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51+,0

In [63]:
df['Balls_faced']=df['Balls_faced'].fillna(0)

In [64]:
df['Strike_rate']=df['Strike_rate'].fillna(0)

In [65]:
df[df['Player']=='ED Weekes (WI)']

,Player,Span,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.0,15,19,6,258+,2

In [66]:
#drop duplicates
df[df['Player'].duplicated()==1]

,Player,Span,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s
54,V Kohli (IND),2011-2024,115,195,12,8947,254*,48.89,16039,55.78,29,30,14,1001,27

In [67]:
df[df['Player'].isin(['V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s
53,V Kohli (IND),2011-2024,115,195,12,8947,254*,48.89,16039,55.78,29,30,14,1001,27
54,V Kohli (IND),2011-2024,115,195,12,8947,254*,48.89,16039,55.78,29,30,14,1001,27

In [68]:
df=df.drop_duplicates()

In [69]:
df[df['Player'].isin(['V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s
53,V Kohli (IND),2011-2024,115,195,12,8947,254*,48.89,16039,55.78,29,30,14,1001,27

In [70]:
#split span into start and end date
df['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2023, 2024]
2     [2022, 2024]
3     [2015, 2016]
4     [1963, 1970]
          ...
59    [1965, 1981]
60    [2002, 2014]
61    [1924, 1934]
62    [1930, 1938]
63    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [71]:
df['Rookie_year']=df['Span'].str.split(pat='-').str[0]

In [72]:
df['Final_year']=df['Span'].str.split(pat='-').str[1]

In [74]:
df=df.drop(['Span'],axis=1)

In [75]:
df

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,YBK Jaiswal (IND),11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024
2,HC Brook (ENG),19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024
3,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
4,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
60,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
61,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,NaN,1924,1934
62,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
63,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,NaN,1928,1934

In [76]:
#split country from player
df['Country']=df['Player'].str.split(pat='(').str[1]

In [77]:
df['Country']=df['Country'].str.split(pat=')').str[0]

In [78]:
df

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal (IND),11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook (ENG),19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
60,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
61,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,NaN,1924,1934,AUS
62,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
63,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,NaN,1928,1934,ENG

In [79]:
df['Player']=df['Player'].str.split('(').str[0]

In [80]:
df

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
61,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,NaN,1924,1934,AUS
62,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
63,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,NaN,1928,1934,ENG

In [86]:
df.dtypes

Player            object
Matches            int64
Inns               int64
Not_out            int64
Runs               int64
Highest_score      int64
Ave              float64
Balls_faced       object
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                object
6s                object
Rookie_year       object
Final_year        object
Country           object
dtype: object

In [82]:
#change datatypes
df['Highest_score'].str.split('*').str[0]

0     334
1     214
2     317
3     269
4     274
     ...
59    250
60    277
61    266
62    232
63    127
Name: Highest_score, Length: 63, dtype: object

In [83]:
df['Highest_score']=df['Highest_score'].str.split('*').str[0]

In [84]:
df

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
61,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,NaN,1924,1934,AUS
62,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
63,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,NaN,1928,1934,ENG

In [85]:
df['Highest_score']=df['Highest_score'].astype(int)

In [88]:
#similarly
df['Rookie_year']=df['Rookie_year'].astype(int)
df['Final_year']=df['Final_year'].astype(int)

In [89]:
df

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
61,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,NaN,1924,1934,AUS
62,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
63,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,NaN,1928,1934,ENG

In [90]:
df['Strike_rate']=df['Strike_rate'].astype(float)

In [91]:
df['Matches']=df['Matches'].astype(int)

In [92]:
df.head()

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA

In [93]:
df.dtypes

Player            object
Matches            int64
Inns               int64
Not_out            int64
Runs               int64
Highest_score      int64
Ave              float64
Balls_faced       object
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                object
6s                object
Rookie_year        int64
Final_year         int64
Country           object
dtype: object

In [95]:
df['Balls_faced']=df['Balls_faced'].str.split('+').str[0]

In [97]:
df

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
61,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,NaN,1924,1934,AUS
62,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS
63,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,NaN,1928,1934,ENG

In [98]:
df[df['Balls_faced'].isna()==1]

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
9,ED Weekes,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258+,2,1948,1958,WI
15,CL Walcott,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107+,11,1948,1960,WI
56,Hon.FS Jackson,20,33,4,1415,144,48.79,NaN,0.0,5,6,3,51+,0,1893,1905,ENG

In [99]:
df['Balls_faced']=df['Balls_faced'].fillna(0)

In [100]:
df['Balls_faced']=df['Balls_faced'].astype(int)

In [101]:
df.head()

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA

In [102]:
df.dtypes

Player            object
Matches            int64
Inns               int64
Not_out            int64
Runs               int64
Highest_score      int64
Ave              float64
Balls_faced        int64
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                object
6s                object
Rookie_year        int64
Final_year         int64
Country           object
dtype: object

In [103]:
df['4s'].isnull().sum()

0

In [104]:
df['4s']=df['4s'].str.split('+').str[0].astype(int)

In [105]:
df.head()

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA

In [106]:
df['6s'].isnull().sum()

2

In [109]:
df.dtypes

Player            object
Matches            int64
Inns               int64
Not_out            int64
Runs               int64
Highest_score      int64
Ave              float64
Balls_faced        int64
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                object
Rookie_year        int64
Final_year         int64
Country           object
dtype: object

In [115]:
df['6s']=df['6s'].str.split('+').str[0]

In [119]:
df['6s']=df['6s'].fillna(0)

In [120]:
df['6s'].isnull().sum()

0

In [121]:
df['6s']=df['6s'].astype(int)

In [123]:
df.dtypes

Player            object
Matches            int64
Inns               int64
Not_out            int64
Runs               int64
Highest_score      int64
Ave              float64
Balls_faced        int64
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Rookie_year        int64
Final_year         int64
Country           object
dtype: object

In [124]:
##insights

In [125]:
df['career_length']=df['Final_year']-df['Rookie_year']

In [126]:
df.head()

,Player,Matches,Inns,Not_out,Runs,Highest_score,Ave,Balls_faced,Strike_rate,100,50,0,4s,6s,Rookie_year,Final_year,Country,career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND,1
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG,2
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
4,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7

##Insights

In [127]:
#avg career length
df['career_length'].mean()

12.968253968253968

In [128]:
#AVg batting strike rate for players played over 10 Years
df[df['career_length']>10]['Strike_rate'].mean()

47.96636363636364

In [133]:
#find no of cricketers who played before 1960
df.query('Rookie_year <1960').count()

Player           23
Matches          23
Inns             23
Not_out          23
Runs             23
Highest_score    23
Ave              23
Balls_faced      23
Strike_rate      23
100              23
50               23
0                23
4s               23
6s               23
Rookie_year      23
Final_year       23
Country          23
career_length    23
dtype: int64

In [134]:
# max highest innings core by country
df.groupby('Country')['Highest_score'].max()

Country
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        254
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: Highest_score, dtype: int64

In [135]:
# hundreds fifties and ducks avg by country
df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.375000   8.562500
ENG      12.846154  21.230769   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      24.200000  30.600000   8.800000
NZ       32.000000  35.000000  11.000000
PAK      17.600000  23.800000   7.800000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000

In [142]:
df.to_csv('cleanedCricStats.csv')